

body {
    margin: 0;
   color: rgb(56, 56, 56) !important;
}


.MuiAppBar-colorPrimary {
        background-color: #f7981d !important;
}

.MuiButton-contained {
    background-color: #f7981d !important;
    padding: 1rem 2rem !important;
}

.MuiButton-outlined {
    border: 1px solid #f7981d !important;
    padding: 1rem 2rem !important;
}
